html,div,svg { padding:2px; margin:2px; }

html {
    min-width: 800px;
    width:70%;
}

body {
    text-align: left;    
    font-family: sans-serif;
}

p {
	text-indent: 2em;
	line-height: 2em;
}


h1,h4 {
    text-align: center;
}